<div ng-controller="compareController">	
		<div class="container" id="allData">
		<div class="row">
			<div style="color: #FFFFFF;" class="col-md-6">
				<h2 style="color: #FFFFFF;">Patch 5.11</h2>
				<div class="table-responsive">          
					<table class="table">
						<thead>
						  <tr>
						    <th></th>
						    <th><a href="" ng-click="reverse=false;order('name', false)">Champion</a>
						    	(<a href="" ng-click="order('-name',false)">^</a>)
						    </th>
						    <th><a href="" ng-click="reverse=false;order('averagekills', false)">Average Kills</a>
						    	(<a href="" ng-click="order('-averagekills',false)">^</a>)
						    </th>
							<th><a href="" ng-click="reverse=false;order('winrate', false)">Win Rate</a>
								(<a href="" ng-click="order('-winrate',false)">^</a>)
							</th>			
						    <th>Popular Items</th>
						  </tr>
						</thead>
						<tbody ng-repeat="item in allData">
						  <tr>
						    <td><a ng-click="getChampionData(item)" data-toggle="modal" data-target="#myModal" href=""> <img src={{item.image}} class="img-responsive img-circle" height="80" width="80"></a></td>
						    <td><a ng-click="getChampionData(item)" data-toggle="modal" data-target="#myModal" href="">{{item.name}}</a></td>
						    <td>{{item.averagekills}}</td>
						    <td>{{item.winrate}}</td>
						    <td>
						    	<div class="row">
							    	<img src={{"http://ddragon.leagueoflegends.com/cdn/5.11.1/img/item/"+item.items[0].id+".png"}} class="img-responsive" height="30" width="30" style="display: inline;">
							    	<img src={{"http://ddragon.leagueoflegends.com/cdn/5.11.1/img/item/"+item.items[1].id+".png"}} class="img-responsive" height="30" width="30" style="display: inline;">
							    	<img src={{"http://ddragon.leagueoflegends.com/cdn/5.11.1/img/item/"+item.items[2].id+".png"}} class="img-responsive" height="30" width="30" style="display: inline;">
							    	<img src={{"http://ddragon.leagueoflegends.com/cdn/5.11.1/img/item/"+item.items[3].id+".png"}} class="img-responsive" height="30" width="30" style="display: inline;">
							    	<img src={{"http://ddragon.leagueoflegends.com/cdn/5.11.1/img/item/"+item.items[4].id+".png"}} class="img-responsive" height="30" width="30" style="display: inline;">
							    	<img src={{"http://ddragon.leagueoflegends.com/cdn/5.11.1/img/item/"+item.items[5].id+".png"}} class="img-responsive" height="30" width="30" style="display: inline;">
							    </div>
						    </td>
						  </tr>
						</tbody>
					</table>
				</div>
			</div>
			<div style="color: #FFFFFF;" class="col-md-6">
				<h2 >Patch 5.14</h2>
				<div class="table-responsive">          
					<table class="table">
						<thead>
						  <tr>
						    <th></th>
						    <th><a href="" ng-click="reverse=false;order514('name', false)">Champion</a>
						    	(<a href="" ng-click="order514('-name',false)">^</a>)
						    </th>
						    <th><a href="" ng-click="reverse=false;order514('averagekills', false)">Average Kills</a>
						    	(<a href="" ng-click="order514('-averagekills',false)">^</a>)
						    </th>
							<th><a href="" ng-click="reverse=false;order514('winrate', false)">Win Rate</a>
								(<a href="" ng-click="order514('-winrate',false)">^</a>)
							</th>			
						    <th>Popular Items</th>
						  </tr>
						</thead>
						<tbody ng-repeat="item in allData514">
						  <tr>
						    <td><a ng-click="getChampionData(item)" data-toggle="modal" data-target="#myModal" href=""> <img src={{item.image}} class="img-responsive img-circle" height="80" width="80"> </a></td>
						    <td><a ng-click="getChampionData(item)"data-toggle="modal" data-target="#myModal" href="">{{item.name}}</a></td>
						    <td>{{item.averagekills}}</td>
						    <td>{{item.winrate}}</td>
						    <td>
						    	<div class="row">
							    	<img src={{"http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/"+item.items[0].id+".png"}} class="img-responsive" height="30" width="30" style="display: inline;">
							    	<img src={{"http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/"+item.items[1].id+".png"}} class="img-responsive" height="30" width="30" style="display: inline;">
							    	<img src={{"http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/"+item.items[2].id+".png"}} class="img-responsive" height="30" width="30" style="display: inline;">
							    	<img src={{"http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/"+item.items[3].id+".png"}} class="img-responsive" height="30" width="30" style="display: inline;">
							    	<img src={{"http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/"+item.items[4].id+".png"}} class="img-responsive" height="30" width="30" style="display: inline;">
							    	<img src={{"http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/"+item.items[5].id+".png"}} class="img-responsive" height="30" width="30" style="display: inline;">
							    </div>
						    </td>
						  </tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-lg">

	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">{{currentChampionData.name}}</h4>
	      </div>
	      <div class="modal-body">
	      	<!-- Get currentChampion data to be presented over here use the object within these to access it{{}} !-->
	        <img src={{"http://ddragon.leagueoflegends.com/cdn/img/champion/splash/"+currentChampionData.name+"_0.jpg"}} class="img-responsive" height="1500" width="900" style="display: inline;">
	        <div style="text-align: center">
		        <p><b>Average Kills:&nbsp; {{currentChampionData.averagekills}}</p>
		        <p>Average Deaths:&nbsp;  {{currentChampionData.averagedeaths}}</p>
		        <p>Win rate:&nbsp;  {{currentChampionData.winrate}}%</p>
		        <p>Amount of champion data used for this champion:&nbsp;  {{currentChampionData.freq}}</b></p>
	        </div>
	   		<h5>Items </h5>
	        <div class="row">
	        	<span style="padding-left: 15px; display: inline-block;" ng-repeat="item in currentChampionData.items"><img src={{"http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/"+item.id+".png"}} class="img-responsive" height="30" width="30" style="display: inline;">
	        	<figcaption style="font-size:xx-small;">{{item.freq}}</figcaption></span>
	        </div>

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>
</div>